body {
    display: flex;
    font-family: 'Atkinson Hyperlegible', Arial, sans-serif;
    line-height: 1.6;
    color: white;
    font-size: 16px; /* Adjust font size globally */
    justify-content: center;
    background: black;
    /* cursor: wait; */
  }

#container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.content {
    z-index: 1;
    text-align: center;
    width: 55vw;
}

a {
    color: #e4e009; /* Change color on hover */
}

.home-header {
    font-size: 64px; /* Adjust font size globally */

}

.animation {
    margin-top: -7px;
    /* height: 120vh; */
    /* max-height: 140vh; */
    width: 100vw;
    position: fixed;
    /* left: 0; */
    z-index: -1;
  }

.home-navigation a {
    font-size: 20px; /* Adjust font size globally */
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.home-navigation a:hover {
    text-decoration: underline;
    color: #e4e009; /* Change color on hover */
}

.arrow-down{
    width:60px;
    height:40px;
    margin:0 0 0 -30px;
    position:absolute;
    left:50%;
    bottom:0px;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;

}

.arrow-down:hover{
    -webkit-animation-play-state: paused;
}

.left{
    position:absolute;
    height:10px;
    width:40px;
    background:white;
    -webkit-transform:rotate(240deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right{
    position:absolute;
    height:10px;
    width:40px;
    background:white;
    -webkit-transform:rotate(-60deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}




@-webkit-keyframes arrow{
    0% {
    bottom:0px;
    }
    100%{
    bottom:40px;
}
}


@-webkit-keyframes leftArrow{
    0% {
    }
    100%{
    -webkit-transform:rotate(225deg);
    }
}

@-webkit-keyframes rightArrow{
    0% {
    }
    100%{
    -webkit-transform:rotate(-45deg);
    }
}

