body {
    display: flex;
    font-family: 'Atkinson Hyperlegible', Arial, sans-serif;
    line-height: 1.6;
    color: white;
    font-size: 16px; /* Adjust font size globally */
    justify-content: center;
    background: black;
    /* cursor: wait; */
  }

#container {
    position: fixed;
}

.content {
    z-index: 1;
    width: 85%;
    text-align: center;
    display: flex;
    /* we use 'gap' here to set the 10px 'gutter' between
       adjacent elements: */
    gap: 10px;
    /* and padding to move the elements 10px from the
       borders of the parent: */
    padding: 10px;
    flex-direction: column;
}

.sticky-header-wrapper {
    position: sticky;
    top: 0px;
    z-index: 800;
}

.content-wrapper{
   flex-direction: row;
}

.content-with-profile {
    z-index: 2;
    width: 100vw;
    display: flex;
    /* we use 'gap' here to set the 10px 'gutter' between
      adjacent elements: */
      gap: 45px;
      /* and padding to move the elements 10px from the
        borders of the parent: */
      padding: 10px;
     flex-direction: inherit
}

.text-column{
  width: 50%;
  flex-direction: row;
  text-align: left;
}

.author-column {
  width: 25%;
  flex-direction: row;
  text-align: right;
}

.author-headshot {
  border-radius: 50%;
}
.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-right: 10px;
}

.social-links li a {
  text-decoration: none;
  color: #e7e136;
}

.social-links li a:hover {
  text-decoration: underline;
}

.social-links li a i {
  margin-right: 5px;
}


a {
    color: #e4e009; /* Change color on hover */
}

li::marker {
  content: "";
}


.home-header {
    font-size: 42px; /* Adjust font size globally */

}

.animation {
    margin-top: -7px;
    /* height: 120vh; */
    /* max-height: 140vh; */
    width: 100vw;
    position: fixed;
    /* left: 0; */
    z-index: -1;
  }

.home-navigation a {
    font-size: 20px; /* Adjust font size globally */
    color: white;
    text-decoration: none;
    margin: 0 2px;
}
.home-navigation a:hover {
    text-decoration: underline;
    color: #e4e009; /* Change color on hover */
}

.arrow-down{
    width:60px;
    height:40px;
    margin:0 0 0 -30px;
    position:absolute;
    left:50%;
    bottom:0px;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;

}

.arrow-down:hover{
    -webkit-animation-play-state: paused;
}

.left{
    position:absolute;
    height:10px;
    width:40px;
    background:white;
    -webkit-transform:rotate(240deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
}

.right{
    position:absolute;
    height:10px;
    width:40px;
    background:white;
    -webkit-transform:rotate(-60deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
}




@-webkit-keyframes arrow{
    0% {
    bottom:0px;
    }
    100%{
    bottom:40px;
}
}


@-webkit-keyframes leftArrow{
    0% {
    }
    100%{
    -webkit-transform:rotate(225deg);
    }
}

@-webkit-keyframes rightArrow{
    0% {
    }
    100%{
    -webkit-transform:rotate(-45deg);
    }
}
  
.breadcrumb-navigation {
  font-size: 20px;
  margin-bottom: 20px;
}

.breadcrumb-navigation ul {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  padding-right: 20px;
  margin: 0 auto;
}

.breadcrumb-navigation li {
  display: inline;
}

.breadcrumb-navigation li::after {
  content: "/";
  margin-left: 0px;
}

.breadcrumb-navigation li:last-child {
  content: ">";
}

.breadcrumb-navigation li:last-child::after {
  content: "";
  display: inline-block;
  background-color: #f9f9f8;
  vertical-align: top;
  width: 1px;
  /* Set height to the line height of .text */
  height: 30px;
  /* 
  Animation paramaters:
  blink = animation-name, 
  1s = animation-duration, 
  step-end = animation-timing-function,
  infinite = animation-iteration-count
  */
  -webkit-animation: blink 1.5s step-end infinite;
  animation: blink 1.5s step-end infinite;
}

.breadcrumb-navigation a {
  text-decoration: none;
}

.breadcrumb-navigation a:hover {
  text-decoration: underline;
}

@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.animation {
    margin-top: -7px;
    /* height: 120vh; */
    /* max-height: 140vh; */
    width: 100vw;
    position: fixed;
    /* left: 0; */
    z-index: -1;
}

@media screen and (max-width: 850px) {
  .content-wrapper {
    flex-direction: column; /* Stack columns on smaller screens */
 }
  .content-with-profile, .text-column, .author-column {
    width: 100%;
  }
  .text-column, .author-column {
    text-align: center;
  }
  .content {
    padding: 0px;
  }
}