:root {
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
}

head {
    display: none;
}

body {
    display: flex;
    font-family: 'Atkinson Hyperlegible', Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    padding-top: 150px; /* Adjust based on header height */
    padding-left: 50px;
    max-width: 850px;
    margin: 0 auto;
    font-size: 16px; /* Adjust font size globally */
  }
  
  header.site-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    height: 45px;
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 15px 20px 15px;
    padding-right: 50px;
    width: 98vw;
    z-index: 1000;
  }

  .animation {
    margin-top: -75px; /* Adjust this value based on the header height */
    height: 800px;
    max-height: 950px;
    width: 100vw;
    position: fixed;
    left: 0;
    z-index: 1;
  }

  .site-title {
    display: flex;
    align-items: normal;
    padding: 40px;

  }
  
  .site-logo {
    height: 45px;
    margin-right: 5px;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    position: fixed;
  }

  .nav-links {
    display: flex;
    gap: 20px; /* Space between navigation links */
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 5px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
    color: #5c84ad; /* Change color on hover */
  }
  
  h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .content-with-profile {
    display: flex;
  }
  
  .content-with-profile aside {
    flex: 0 0 250px;
    margin-right: 20px;
  }
  
  .author-profile {
    text-align: left;
  }
  
  .author-headshot {
    border-radius: 50%;
    max-width: 100%;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links li a {
    text-decoration: none;
    color: #007BFF;
  }
  
  .social-links li a:hover {
    text-decoration: underline;
  }
  
  .social-links li a i {
    margin-right: 5px;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;/* Span the entire device width */
    height: 50px;
    background-color: #e2dcdc83; /* Light grey color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center align the content */
    z-index: -1;
  }
  
  .footer-content {
    max-width: 1000px; /* Limit the width of the content */
    margin: 0 auto; /* Center the content */
  }

  /* Update CSS to support two-column layout */
.author-column {
    width: 250px; /* Width of the author profile column */
    margin-right: 20px; /* Spacing between columns */
    padding-right: 10px;

  }
  
  .text-column {
    flex: 1; /* Take up remaining space */
    padding-left: 10px;
  }
  
  @media screen and (min-width: 390px) and (max-width: 767px) {
    .site-header {
      flex-direction: column;
    }
  }
  /* Ensure responsive layout on smaller screens */
  @media (max-width: 850px) {
    .content-with-profile {
      flex-direction: column; /* Stack columns on smaller screens */
    }

    .author-column,
    .text-column {
      width: 100%; /* Full width on smaller screens */
      margin-right: 0; /* No spacing between columns */
    }
  }
  
  .breadcrumb-navigation {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .breadcrumb-navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .breadcrumb-navigation li {
    display: inline;
  }
  
  .breadcrumb-navigation li::after {
    content: "/";
    margin-left: 4px;
  }

  .breadcrumb-navigation li:last-child {
    content: ">";
  }

  .breadcrumb-navigation li:last-child::after {
    content: "";
    display: inline-block;
    background-color: #aaa8a8;
    vertical-align: top;
    width: 2px;
    /* Set height to the line height of .text */
    height: 21px;
    /* 
    Animation paramaters:
    blink = animation-name, 
    1s = animation-duration, 
    step-end = animation-timing-function,
    infinite = animation-iteration-count
    */
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
  }
  
  .breadcrumb-navigation a {
    text-decoration: none;
  }
  
  .breadcrumb-navigation a:hover {
    text-decoration: underline;
  }

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}