body {
    font-family: 'Atkinson Hyperlegible', Arial, sans-serif;
    line-height: 1.6;
    padding-top: 100px; /* Adjust based on header height */
    padding-left: 50px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px; /* Adjust font size globally */
  }
  
  header.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 800px;
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .site-title {
    display: flex;
    align-items: left;
  }
  
  .site-logo {
    height: 40px;
    margin-right: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #007BFF;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  h1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .content-with-profile {
    display: flex;
  }
  
  .content-with-profile aside {
    flex: 0 0 200px;
    margin-right: 20px;
  }
  
  .author-profile {
    text-align: left;
  }
  
  .author-headshot {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    margin-right: 10px;
  }
  
  .social-links li a {
    text-decoration: none;
    color: #007BFF;
  }
  
  .social-links li a:hover {
    text-decoration: underline;
  }
  
  .social-links li a i {
    margin-right: 5px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;/* Span the entire device width */
    height: 100px;
    background-color: #dad0d0; /* Light grey color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center; /* Center align the content */
    left: 0;
  }
  
  .footer-content {
    max-width: 1000px; /* Limit the width of the content */
    margin: 0 auto; /* Center the content */
  }

  /* Update CSS to support two-column layout */
.author-column {
    width: 350px; /* Width of the author profile column */
    margin-right: 20px; /* Spacing between columns */
  }
  
  .text-column {
    flex: 1; /* Take up remaining space */
  }
  
  @media screen and (min-width: 390px) and (max-width: 767px) {
    .header {
      height: 100%;
      flex-direction: column;
    }
  }
  /* Ensure responsive layout on smaller screens */
  @media (max-width: 800px) {
    .content-with-profile {
      flex-direction: column; /* Stack columns on smaller screens */
    }
    
    .author-column,
    .text-column {
      width: 100%; /* Full width on smaller screens */
      margin-right: 0; /* No spacing between columns */
    }
  }
  